iframe{
    border: 0;
}

.child-service{
    text-align: center;
    background: #1b1464;
    padding: 45px 25px;
    color: #fff;
}
.child-service h2{
    font-family:'Courier New', Courier, monospace ;
    font-size: 35px;
    margin-bottom: 0;
}
.child-service a{
    display: inline-block;
    margin-top: 15px;
    background: #f79f1f;
    color: #fff;
    font-size: 14px;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 15px;
}
img{
    width: 150px;
    height: 200px;
}
.new-div{
    width:500px;
    height: 500px;
    background: rgb(28, 28, 197, 0.3);
    margin-top: 20px;
    border-radius: 50%;
    
}
.new-div{
    width: 200px;
    height: 200px;
    background: rgb(251, 108, 108,);
    margin-top: 20px;
    border-radius: 50%;
    
}
h2{
    border: 10px solid brown;
    border-style: groove;
    border-style: outset;

}